@charset utf-8;

/* Demo
-------------------------- */
.sub, h2 {
	font-family: sans-serif;
}
.sub {
	border-bottom: 1px solid #ddd;
	padding: .25em 0;
}
h2 {
	font-size: 1.1em;
}


.xrayhtml {
	position: relative !important;
}

.btn {
	background-color: #fefefe;
	background-image: -webkit-linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	background-image: -moz-linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	background-image: linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	border: 1px solid #ccc;
	border-radius: .4em;
	color: #308bd3;
	cursor: pointer;
	display: block;
	font: bold 14px/1 sans-serif;
	padding: .6em 0 .5em 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0 1px 0 #fff;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.method-inline .btn {
	width: auto;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 5px 0 0 0;
	border-width: 1px 0 0 1px;
}

.method-flip .btn-copy {
	border-width: 0 0 1px 0;
	border-radius: 0;
}
.btn-small {
	display: inline-block;
	font-size: .8em;
	padding: .4em 2% .35em 2%;
	width: auto;
}
aside {
	padding: .5em;
}
blockquote {
	font-size: 1.6em;
	margin: 0;
	position: relative;
}
blockquote:before {
	color: #ccc;
	content: "“";
	font-size: 4em;
	left: 0;
	line-height: .25;
	position: absolute;
	top: 0;
	z-index: 1;
}
blockquote p {
	position: relative;
	margin: 1em;
	z-index: 2;
}
address {
	font-size: 1.2em;
}
cite {
	font-size: 1.1em;
}
/* Logo */
.header {
	background: #247201 url(http://filamentgroup.com/images/headerbg-new.jpg) no-repeat bottom left;
}
#fg-logo {
	text-indent: -9999px;
	margin: 0 auto;
	width: 287px;
	height: 52px;
	background-image: url(http://filamentgroup.com/images/fg-logo-icon.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5){
	#fg-logo {
		background-size: 287px 52px;
		background-image: url(http://filamentgroup.com/images/fg-logo-icon-lrg.png);
	}
}


/* x-ray styling */
[data-xrayhtml] {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .5em;
	margin: 1.5em 0 2.5em 0;
	padding: 1.5em 1em;
}
[data-xrayhtml]:before {
	content: "Example";
	text-transform: uppercase;
	letter-spacing: 1px;
	font: .75em sans-serif;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	position: absolute;
	top: -.5em;
	padding-left: .5em;
	padding-right: .5em;
	left: 1.333333333em; /* 16px */
	z-index: 3;
}
[data-xrayhtml].method-flip:before {
	background-color: rgba(255,255,255,.6);
}
.xrayhtml .source-panel {
	background: #f7f7f7;
}
.xrayhtml.method-flip .source-panel {
}
.xrayhtml.method-inline .source-panel {
	margin: 1em -1em -1.5em -1em !important; /* Prism style override. */
	border-top: 1px solid rgba(0,0,0,.1);
	border-radius: 0 0 .5em .5em;
}
.xrayhtml pre {
	padding: 16px;
	margin: 0 !important; /* Prism style override. */
	border-radius: 0 0 .5em .5em;
}
.xrayhtml code {
	white-space: pre-wrap !important; /* Prism style override. */
}