/* Demo
-------------------------- */
h1, h2 {
	font-family: sans-serif;
}
h1 {
	border-bottom: 1px solid #ddd;
	padding: .25em 0;
}
h2 {
	font-size: 1.1em;
}


.xrayhtml {
	position: relative !important;
}

.btn {
	background-color: #fefefe;
	background-image: -webkit-linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	background-image: -moz-linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	background-image: linear-gradient( top, rgba( 255,255,255,.1 ) 0%, rgba( 255,255,255,.1 ) 50%, rgba( 170,170,170,.1 ) 55%, rgba( 120,120,120,.15 ) 100% );
	border: 1px solid #ccc;
	border-radius: .4em;
	color: #308bd3;
	cursor: pointer;
	display: block;
	font: bold 14px/1 sans-serif;
	padding: .6em 0 .5em 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	text-shadow: 0 1px 0 #fff;
	width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.method-inline .btn {
	width: auto;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 5px 0 0 0;
	border-width: 1px 0 0 1px;
}

.method-flip .btn-copy {
	border-width: 0 0 1px 0;
	border-radius: 0;
}
.btn-small {
	display: inline-block;
	font-size: .8em;
	padding: .4em 2% .35em 2%;
	width: auto;
}
[data-xrayhtml] {
	background: #aaa;
	border: 6px solid rgba(0,0,0,.25);
	border-radius: 7px;
	margin: .5em 0 2.5em 0;
}
.xrayhtml pre {
	padding: 1em;
	margin: 0 !important; /* Prism style override. */
}
.xrayhtml code {
	white-space: pre-wrap !important; /* Prism style override. */
}
.snippet,
.source-panel {
	background: #f5f2f0;
}
aside {
	background: #f5f2f0;
	padding: .5em;
}
blockquote {
	font-size: 1.6em;
	margin: 0;
	position: relative;
}
blockquote:before {
	color: #ccc;
	content: "“";
	font-size: 4em;
	left: 0;
	line-height: .25;
	position: absolute;
	top: 0;
	z-index: 1;
}
blockquote p {
	position: relative;
	margin: 1em;
	z-index: 2;
}
address {
	font-size: 1.2em;
}
cite {
	font-size: 1.1em;
}