.xrayhtml {
	border: 1px solid rgba(0,0,0,.1);
	border-radius: .3em;
	margin: 1.5em 0 2.5em 0;
	position: relative;
}
.xrayhtml .xraytitle {
	text-transform: uppercase;
	letter-spacing: 1px;
	font: .75em sans-serif;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	border-radius: 3px;
	display: inline-block;
	position: absolute;
	top: -.6em;
	left: 1.5em;
	padding-left: .1em;
	padding-right: .1em;
	z-index: 3;
	margin: 0;
}
.xrayhtml .source-panel {
	background: #f7f7f7;
	tab-size: 2;
}
.xrayhtml.method-flip .source-panel {
	border-radius: 0.3em;
}
.xrayhtml.method-inline .source-panel {
	margin: 0;
	border-top: 1px solid rgba(0,0,0,.1);
	border-radius: 0 0 .3em .3em;
}
.xrayhtml .snippet,
.xrayhtml .source-panel > pre {
	padding: 16px;
} 
.xrayhtml .source-panel > pre {
	margin: 0;
	border-radius: 0 0 .3em .3em;
}
.xrayhtml .source-panel code {
	white-space: pre-wrap;
}
/* Prism override. */
.xrayhtml .source-panel code.language-markup {
	white-space: pre-wrap !important;
}

.xrayhtml.antipattern {
	border-color: #C9282D;
}
.xrayhtml.antipattern .xraytitle {
	color: #d75e72;
	font-weight: 700;
}

/* Flip Animation */
.method-flip {
	margin: 0 0 1px; /* fixes missing bottom border in FF */
	background-color: #fff;
	border-radius: .3em;
	-webkit-perspective: 2500px;
	-moz-perspective: 2500px;
	perspective: 2500px;
}
.method-flip .flip-panel {
	position: relative;
	transition: all .4s ease-in-out;
	transform-style: preserve-3d;
}
.method-flip.view-source .flip-panel {
	transform: rotateY( 180deg );
}
.flip-panel .snippet,
.flip-panel .source-panel {
	backface-visibility: hidden;
}
/* front = snippet, back = source */
.flip-panel .snippet {
	position: relative;
	transform: rotateY( 0deg );
	z-index: 2;
}
.flip-panel .source-panel {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	transform: rotateY( 180deg );
}

iframe.xray-iframe {
	border: 0;
	width: 100%
}